* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
}

.card-box {
  background: white;
  border-radius: 10px;
  padding: 2rem 3rem;
  width: 80%;
  max-width: 600px;
}

.row {
  margin-bottom: 1.5rem;
  text-align: center;

  img {
    align-items: center;
  }
}

.row h1 {
  color: #333;
  font-size: 2rem;
}

ol {
  text-align: left;
  font-weight: 600;
  color: #444;
  line-height: 1.6;
}

.btn {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #4e54c8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #3b40a4;
  }
}

/* mobile responsiveness */
@media (max-width: 480px) {
  .card-box {
    padding: 1.2rem 1.5rem;
  }

  .row h1 {
    font-size: 1.4rem;
    flex-direction: column;
    gap: 5px;
  }


  .row {
    margin-bottom: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      align-items: center;
    }
  }

  ol {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .btn {
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
  }
}